.navbar{
    background:#1f2937;
    color:white;
    padding:20px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    list-style:none;

    display:flex;
    gap:30px;
}

.search-section{
    padding:60px 20px;
    text-align:center;
    background:white;
}

.search-section h1{
    font-size:42px;
    margin-bottom:20px;
}

.search-section p{
    margin-bottom:25px;
}

.search-section input{

    width:500px;
    max-width:90%;

    padding:15px;

    font-size:18px;

    border:1px solid #ccc;
    border-radius:8px;
}

.container{

    width:1200px;
    max-width:90%;

    margin:50px auto;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:25px;
}

.card{

    background:white;

    padding:25px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,.08);
}

.card h2{

    font-size:24px;

    margin-bottom:15px;
}

.card p{

    margin-bottom:20px;

    color:#666;
}

.card button{

    padding:12px 20px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:6px;
}

.footer{

    background:#111827;

    color:white;

    padding:50px 20px;

    margin-top:80px;
}

.footer-content{

    width:1200px;

    max-width:90%;

    margin:auto;

    text-align:center;
}

.footer h2{

    font-size:28px;

    margin-bottom:10px;
}

.footer p{

    color:#d1d5db;

    margin:8px 0;
}

.footer-links{

    display:flex;

    justify-content:center;

    gap:25px;

    margin:25px 0;
}

.footer-links a{

    color:white;

    text-decoration:none;

    transition:.2s;
}

.footer-links a:hover{

    color:#60a5fa;
}

.copyright{

    font-size:14px;

    color:#9ca3af;
}